// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

table tr.oddrow {
    background-color: white;
}

table tr.evenrow {
    background-color: lightgrey;
}

table thead {
    background-color: lightgrey;
}

#title {
	float: left;
}

#new, #search_box {
	float: right;
}

#pagination {
	width: 100%;
	text-align: center;
}

.clearBoth { clear:both; }
